body{
  background-image: url("../images/images.jpeg");
}
.jumbotron{
  background-image: url("../images/formbg.jpg");
  border-radius: 40px;
}
h1{
  text-align: center;
  color: crimson;
  font-style: italic;
}
#pigForm{
  text-align: center;
  color: white;
}
#gameDisplayPlayer1{
  float: left;
  color: white;
}
#gameDisplayPlayer2{
  float: right;
  color: white;
}
.btn{
  text-align: center;
  color: white;
  font-style: oblique;
}
#btn{
  background-color: black;
  border-color: black;
  border-radius: 30px;
}
